@import "./header.css";
@import "./main.css";
@import "./faq.css";
@import "./news.css";
@import "./subscription.css";
@import "./slider.css";
@import "./footer.css";
@import "./swiper-bundle.css";
@import "./normalize.css";
@import "../vendor/fonts.css";

body {
  padding: 0;
  width: 100%;
  background: black;
}